src/main/xsd/EIGTYP/1.0/EIGTYP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    elementFormDefault="qualified" attributeFormDefault="unqualified"
    targetNamespace="http://schemas.bfs.admin.ch/EIGTYP/1.0"
    xmlns="http://schemas.bfs.admin.ch/EIGTYP/1.0"
    version="2.0">
    <xs:element name="Eigentuemerindex">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="eigentuemer" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="eigentuemer">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="amtId">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="recordTyp">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                            
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="EGRID" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                            <xs:maxLength value="14"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="gsNummer" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                            <xs:maxLength value="12"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="gsNummerZusatz" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                            <xs:maxLength value="12"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="gsSubKreis" minOccurs="0"> 
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                            <xs:maxLength value="15"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="gsLos" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                            <xs:maxLength value="15"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="gsArt" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                            
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="bfsNr" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="1"/>
                            <xs:maxInclusive value="9999"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="EGBPID" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                            <xs:maxLength value="14"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                
                <xs:element name="kantPersNr" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                            <xs:maxLength value="20"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="uid" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                            <xs:maxLength value="12"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="ahvn13" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                            <xs:maxLength value="20"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="eigentuemerEGRID" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                            <xs:maxLength value="14"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="gemeinschaftId"  minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="eigentuemerId"  minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="eigentuemerTyp"  minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="eigentumAnteilId" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="eigentumAnteilVom" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:dateTime">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="quoteZaehler" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:minInclusive value="1"/>
                            <xs:maxInclusive value="1000000000"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="quoteNenner" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:minInclusive value="1"/>
                            <xs:maxInclusive value="1000000000"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="quoteProsa" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="name" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="vornamen" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="geburtsjahr" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="geburtsmonat" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:minInclusive value="1"/>
                            <xs:maxInclusive value="12"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="geburtstag" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:minInclusive value="1"/>
                            <xs:maxInclusive value="31"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="heimatort" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                            <xs:maxLength value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="staatsangehoerigkeit" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                            <xs:maxLength value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="zivilstand" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                
                <xs:element name="rechtsform" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="sitz" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="firmennummer" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="gemeinschaftart" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                
                <xs:element name="strasse" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="hausnr" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="plz" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="ort" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:normalizedString">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                
            </xs:sequence>
            
        </xs:complexType>
        
    </xs:element>
</xs:schema>
