src/main/xsd/GBDBS/2.0/GBDBS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:GbId="http://schemas.terravis.ch/GBBasisId/2.0"
  xmlns:GBBasisTypen="http://schemas.terravis.ch/GBBasisTypen/2.0"
  xmlns="http://schemas.terravis.ch/GBDBS/2.0" 
  targetNamespace="http://schemas.terravis.ch/GBDBS/2.0" 
  elementFormDefault="qualified" attributeFormDefault="unqualified"
  version="2.0.5"
  >
  <xsd:import namespace="http://schemas.terravis.ch/GBBasisId/2.0" schemaLocation="../../GBBasisId/2.0/GBBasisId.xsd"/>
  <xsd:import namespace="http://schemas.terravis.ch/GBBasisTypen/2.0" schemaLocation="../../GBBasisTypen/2.0/GBBasisTypen.xsd"/>

<xsd:simpleType name="BezugInhalt">
  <xsd:restriction base="xsd:normalizedString">
    <xsd:enumeration value="Index"/>
    <xsd:enumeration value="IndexMitEigentum"/>
    <xsd:enumeration value="Oeffentlich"/>
    <xsd:enumeration value="Vollstaendig"/>
    <xsd:enumeration value="Datenbezug"/>
  </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="NameKriterium">
  <xsd:restriction base="xsd:normalizedString">
  </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="PersonenArt">
  <xsd:restriction base="xsd:normalizedString">
    <xsd:enumeration value="Alle"/>
    <xsd:enumeration value="NatuerlichePerson"/>
    <xsd:enumeration value="JuristischePerson"/>
    <xsd:enumeration value="Gemeinschaft"/>
  </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="RechtArt">
  <xsd:restriction base="xsd:normalizedString">
    <xsd:enumeration value="Alle"/>
    <xsd:enumeration value="Eigentum"/>
    <xsd:enumeration value="Glaeubiger"/>
    <xsd:enumeration value="Dienstbarkeit"/>
    <xsd:enumeration value="Grundlast"/>
    <xsd:enumeration value="Vormerkung"/>
    <xsd:enumeration value="Anmerkung"/>
  </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="Version">
  <xsd:restriction base="xsd:normalizedString">
    <xsd:maxLength value="40"/>
  </xsd:restriction>
</xsd:simpleType>
<xsd:element name="Exception" type="ExceptionType"/>
<xsd:complexType  name="ExceptionType">
  <xsd:sequence>
    <xsd:element name="code">
      <xsd:simpleType>
        <xsd:restriction base="xsd:normalizedString">
          <xsd:enumeration value="other"/>
          <xsd:enumeration value="tooManyResults"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
    <xsd:element name="nativeCode" minOccurs="0">
      <xsd:simpleType>
        <xsd:restriction base="xsd:normalizedString">
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
    <xsd:element name="message" minOccurs="0">
      <xsd:simpleType>
        <xsd:restriction base="xsd:normalizedString">
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
    <xsd:element name="technicalDetails" minOccurs="0">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
    <xsd:element name="transactionId" minOccurs="0">
      <xsd:simpleType>
        <xsd:restriction base="xsd:normalizedString">
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:ID"/>
</xsd:complexType>
<xsd:element name="AbstractRequest" type="AbstractRequestType"/>
<xsd:complexType  name="AbstractRequestType">
  <xsd:sequence>
    <xsd:element name="version">
      <xsd:simpleType>
        <xsd:restriction base="xsd:normalizedString">
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
    <xsd:element name="transactionId">
      <xsd:simpleType>
        <xsd:restriction base="xsd:normalizedString">
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
  </xsd:sequence>
</xsd:complexType>
<xsd:element name="Adresse" type="AdresseType"/>
<xsd:complexType  name="AdresseType">
  <xsd:sequence>
    <xsd:element name="BFSNr" type="GBBasisTypen:BFSNr" minOccurs="0"/>
    <xsd:element name="Strasse" minOccurs="0">
      <xsd:simpleType>
        <xsd:restriction base="xsd:normalizedString">
          <xsd:maxLength value="60"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
    <xsd:element name="Nummer" minOccurs="0">
      <xsd:simpleType>
        <xsd:restriction base="xsd:normalizedString">
          <xsd:maxLength value="12"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
    <xsd:element name="GWR_EGID" type="GBBasisTypen:GWR_EGID" minOccurs="0"/>
    <xsd:element name="GWR_EDID" minOccurs="0">
      <xsd:simpleType>
        <xsd:restriction base="xsd:integer">
          <xsd:minInclusive value="0"/>
          <xsd:maxInclusive value="99"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:ID"/>
</xsd:complexType>
<xsd:element name="GetCapabilitiesResponse" type="GetCapabilitiesResponseType"/>
<xsd:complexType  name="GetCapabilitiesResponseType">
  <xsd:sequence>
    <xsd:element name="supportedVersion" type="Version" maxOccurs="unbounded"/>
    <xsd:element name="inclEGRID" type="xsd:boolean"/>
    <xsd:element name="inclUID" type="xsd:boolean"/>
    <xsd:element name="inclAHVN13" type="xsd:boolean"/>
    <xsd:element name="inclGebaeudeArt" type="xsd:boolean"/>
    <xsd:element name="inclGWR_EGID" type="xsd:boolean"/>
    <xsd:element name="inclGemeinschaftArt" type="xsd:boolean"/>
    <xsd:element name="historyBackTo" type="GBBasisTypen:Datum" minOccurs="0"/>
  </xsd:sequence>
</xsd:complexType>
<xsd:element name="GetParcelIndexResponse" type="GetParcelIndexResponseType"/>
<xsd:complexType  name="GetParcelIndexResponseType">
  <xsd:sequence>
    <xsd:element name="shortIndex" type="GbId:GrundstueckNummer" minOccurs="0" maxOccurs="unbounded"/>
    <xsd:element name="Index" minOccurs="0" maxOccurs="unbounded">
      <xsd:complexType>
        <xsd:sequence>
        <xsd:element ref="GBBasisTypen:Grundstueck"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
</xsd:complexType>
<xsd:element name="GetParcelsByIdResponse" type="GetParcelsByIdResponseType"/>
<xsd:complexType  name="GetParcelsByIdResponseType">
  <xsd:sequence>
    <xsd:element name="standDerDaten" type="xsd:date" minOccurs="0"/>
    <xsd:element name="Grundstueck" minOccurs="0" maxOccurs="unbounded">
      <xsd:complexType>
        <xsd:sequence>
        <xsd:element ref="GBBasisTypen:Grundstueck"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="Person" minOccurs="0" maxOccurs="unbounded">
      <xsd:complexType>
        <xsd:sequence>
        <xsd:element ref="GBBasisTypen:PersonGB"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="Recht" minOccurs="0" maxOccurs="unbounded">
      <xsd:complexType>
        <xsd:sequence>
        <xsd:element ref="GBBasisTypen:Recht"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
</xsd:complexType>
<xsd:element name="GetPersonIndexResponse" type="GetPersonIndexResponseType"/>
<xsd:complexType  name="GetPersonIndexResponseType">
  <xsd:sequence>
    <xsd:element name="PersonIndex" minOccurs="0" maxOccurs="unbounded">
      <xsd:complexType>
        <xsd:sequence>
        <xsd:element ref="PersonIndex"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
</xsd:complexType>
<xsd:element name="Grundstueck" type="GrundstueckType"/>
<xsd:complexType  name="GrundstueckType">
  <xsd:sequence>
    <xsd:element name="Nummer"  minOccurs="0">
      <xsd:simpleType>
        <xsd:restriction base="xsd:normalizedString">
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
    <xsd:element name="BFSNr" type="GBBasisTypen:BFSNr" minOccurs="0"/>
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:ID"/>
</xsd:complexType>
<xsd:element name="PersonIndex" type="PersonIndexType"/>
<xsd:complexType  name="PersonIndexType">
  <xsd:sequence>
    <xsd:element name="Name">
      <xsd:simpleType>
        <xsd:restriction base="xsd:normalizedString">
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
    <xsd:element name="Vorname" minOccurs="0">
      <xsd:simpleType>
        <xsd:restriction base="xsd:normalizedString">
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
    <xsd:element name="Geburtsjahr" minOccurs="0">
      <xsd:simpleType>
        <xsd:restriction base="xsd:integer">
          <xsd:minInclusive value="1880"/>
          <xsd:maxInclusive value="2100"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
    <xsd:element name="Geburtsmonat" minOccurs="0">
      <xsd:simpleType>
        <xsd:restriction base="xsd:integer">
          <xsd:minInclusive value="1"/>
          <xsd:maxInclusive value="12"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
    <xsd:element name="Geburtstag" minOccurs="0">
      <xsd:simpleType>
        <xsd:restriction base="xsd:integer">
          <xsd:minInclusive value="1"/>
          <xsd:maxInclusive value="31"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
    <xsd:element name="WohnadresseOrt" minOccurs="0">
      <xsd:simpleType>
        <xsd:restriction base="xsd:normalizedString">
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
    <xsd:element name="WohnadressePLZ" minOccurs="0">
      <xsd:simpleType>
        <xsd:restriction base="xsd:normalizedString">
          <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
    <xsd:element name="Sitz" minOccurs="0">
      <xsd:simpleType>
        <xsd:restriction base="xsd:normalizedString">
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
    <xsd:element name="PersonId" type="GbId:PersonId"/>
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:ID"/>
</xsd:complexType>
<xsd:element name="Recht" type="RechtType"/>
<xsd:complexType  name="RechtType">
  <xsd:sequence>
    <xsd:element name="RechtArt" type="RechtArt"/>
    <xsd:element name="BFSNr" type="GBBasisTypen:BFSNr" minOccurs="0"/>
    <xsd:element name="Person" type="GbId:PersonId" maxOccurs="unbounded"/>
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:ID"/>
</xsd:complexType>
<xsd:element name="Schuldbrief" type="SchuldbriefType"/>
<xsd:complexType  name="SchuldbriefType">
  <xsd:sequence>
    <xsd:element name="alteNummer" minOccurs="0">
      <xsd:simpleType>
        <xsd:restriction base="xsd:normalizedString">
          <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
    <xsd:element name="BFSNr" type="GBBasisTypen:BFSNr" minOccurs="0"/>
    <xsd:element name="EREID" type="GbId:EREID" minOccurs="0"/>
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:ID"/>
</xsd:complexType>
<xsd:element name="GetCapabilitiesRequest" type="GetCapabilitiesRequestType" substitutionGroup="AbstractRequest"/>
<xsd:complexType  name="GetCapabilitiesRequestType">
  <xsd:complexContent>
    <xsd:extension base="AbstractRequestType">
      <xsd:sequence>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:element name="GetParcelIndexRequest" type="GetParcelIndexRequestType" substitutionGroup="AbstractRequest"/>
<xsd:complexType  name="GetParcelIndexRequestType">
  <xsd:complexContent>
    <xsd:extension base="AbstractRequestType">
      <xsd:sequence>
        <xsd:element name="shortIndex" type="xsd:boolean"/>
        <xsd:element name="includeHistory" type="xsd:boolean"/>
        <xsd:element name="Adresse" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
            <xsd:element ref="Adresse"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Grundstueck" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
            <xsd:element ref="Grundstueck"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Recht" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
            <xsd:element ref="Recht"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Schuldbrief" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
            <xsd:element ref="Schuldbrief"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:element name="GetParcelsByIdRequest" type="GetParcelsByIdRequestType" substitutionGroup="AbstractRequest"/>
<xsd:complexType  name="GetParcelsByIdRequestType">
  <xsd:complexContent>
    <xsd:extension base="AbstractRequestType">
      <xsd:sequence>
        <xsd:element name="BezugInhalt" type="BezugInhalt"/>
        <xsd:element name="includeHistory" type="xsd:boolean" minOccurs="0"/>
        <xsd:element name="Id" type="GbId:GrundstueckNummer" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:element name="GetPersonIndexRequest" type="GetPersonIndexRequestType" substitutionGroup="AbstractRequest"/>
<xsd:complexType  name="GetPersonIndexRequestType">
  <xsd:complexContent>
    <xsd:extension base="AbstractRequestType">
      <xsd:sequence>
        <xsd:element name="includeHistory" type="xsd:boolean"/>
        <xsd:element name="RechtArt" type="RechtArt"/>
        <xsd:element name="BFSNr" type="GBBasisTypen:BFSNr" minOccurs="0"/>
        <xsd:element name="PersonenArt" type="PersonenArt"/>
        <xsd:element name="NamePerson" type="NameKriterium"/>
        <xsd:element name="Vorname" type="NameKriterium" minOccurs="0"/>
        <xsd:element name="Jahrgang" minOccurs="0">
          <xsd:simpleType>
            <xsd:restriction base="xsd:integer">
              <xsd:minInclusive value="1880"/>
              <xsd:maxInclusive value="2100"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Sitz" type="NameKriterium" minOccurs="0"/>
        <xsd:element name="GemeinschaftArt" type="GBBasisTypen:GemeinschaftArt" minOccurs="0"/>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
</xsd:schema>
